/*tablette*/
@media only screen and (max-width: 1024px) {
  .filters {
    flex-direction: column;
  }
  .pop_heber {
    flex-direction: column;
  }
  .aline_pop {
    flex-direction: row;
  }
  .block_hebergement {
    width: 100%;
  }
  #act {
  margin-left: 30px;
  }
  .img_activites {
    height: 55%;
    width: 94%;
  }
  .nom_activites {
    height: 70px;
    width: 94%;
    display: flex;
    align-items: center;
  }
  footer {
    margin: 0;
  }
}